<article class="text-content">
  <h2><%= link_to "#{ contest.year } | #{ contest.name }", contest_path(contest), data: { turbo: false } %> </h2>
  <p>Age Limit: <%= contest.age_range %></p>
  <p>Voting Begins: <%= datetime_string(contest.vote_start_date) %></p>
  <p>Voting Ends: <%= datetime_string(contest.vote_end_date) %></p>
  <% if contest.voting_ended? %>
    <h3>Winners</h3>
    <p>
      First Place: <%= contest.rank_entries.first&.map { |entry| entry.participant.name }&.join(", ") %>
    </p>
    <p>
      Second Place: <%= contest.rank_entries.second&.map { |entry| entry.participant.name }&.join(", ") %>
    </p>
    <p>
      Third Place: <%= contest.rank_entries.third&.map { |entry| entry.participant.name }&.join(", ") %>
    </p>
  <% end %>
</article>