<div class="form-div">
  <%= form_with(model: [@contest], data: { turbo: false }) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= form.label :age_limit %>
      <%= form.number_field :age_limit %>
    </div>

    <div class="field">
      <%= form.label :vote_start_date %>
      <%= Time.use_zone("Mountain Time (US & Canada)") { form.datetime_field(:vote_start_date, required: true) } %>
    </div>

    <div class="field">
      <%= form.label :vote_end_date %>
      <%= Time.use_zone("Mountain Time (US & Canada)") { form.datetime_field(:vote_end_date, required: true) } %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>