<%= form_with(model: [@contest], data: { turbo: false }) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :vote_start_date %>
    <%= Time.use_zone("Mountain Time (US & Canada)") { form.datetime_field :vote_start_date } %>
  </div>

  <div class="field">
    <%= form.label :vote_end_date %>
    <%= form.datetime_field :vote_end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>