
<div class="form-div text-content">
  <%= form_with(model: @participant, url: [@user, @participant]) do |form| %>
    <%= form.hidden_field :user_id %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= form.label :age_at_creation, "Age" %>
      <%= form.number_field :age_at_creation, required: true %>
    </div>

    <div class="actions">
      <%= form.submit "Add Participant" %>
    </div>
  <% end %>
</div>
