<main class="outer-text-content">
  <section class="text-content">
    <h1>Account</h1>

    <div>
      <p>You can change your time zone here:</p>
      <p>
        <%= form_with(model: [current_user], data: { controller: "form-submitter" }) do |form| %>
          <%= form.select(
              :time_zone,
              options_for_select(ActiveSupport::TimeZone.all.map { |z| [z.name, z.name] }, selected: current_user.time_zone),
              {  },
              data: {
                  action: "change->form-submitter#submit"
              }) %>
        <% end %>
      </p>
    </div>
    <h2>Participants</h2>
    <p>
      Please add all the participants in your family below (including yourself). Each participant can submit one entry in each contest they are elligible for, as well as vote once every contest.
    </p>
    <p>
      <% @user.participants.each do |participant| %>
        <div><%= participant.name %> Birthday: <%= participant.birthday %></div>
      <% end %>
    </p>
    <%= render "participants/form" %>
  </section>
</main>