<%= turbo_frame_tag(:vote_form) do %>
  <h2>Voting for <%= @participant.name %></h2>
  <div class="form-div">
    <%= form_tag(contest_votes_path, data: { controller: "vote-form", turbo: false}) do %>
      <input type="hidden" name="participant_id" value="<%= @participant.id %>">
      <input type="hidden" name="vote_start_time" value="<%= Time.zone.now %>">
      <% @entries.each do |entry| %>
        <%= render "entries/entry", entry: entry %>
        <div>
            <div class="field">
                <%= label_tag "Rank" %><br>
                <select name="entry_<%=entry.id%>_rank" data-action="vote-form#change focus->vote-form#focus" data-vote-form-target="select" required="required">
                  <option value="0">Rank this entry...</option>
                  <%= @ranks.each do |rank| %>
                    <option value="<%= rank %>" data-vote-form-target="option"><%= rank %></option>
                  <% end %>
                </select>
            </div>
        </div>
      <% end %>
      <div class="actions">
        <%= button_tag "Submit My Vote", type: 'button', data: { action: "vote-form#submit" } %>
        <span data-vote-form-target="notice"></span>
      </div>
    <% end %>
  </div>
<% end %>