<!DOCTYPE html>
<html>
  <head>
    <title>GingerBreadContest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background">
    <div class="main-grid-container" data-controller="toggle">
      <%= turbo_frame_tag("nav", class: "top-nav") do %>
        <%= render "layouts/top_nav" unless @hide_navigation %>
      <% end %>
      <%= turbo_frame_tag("title", class: "main-title") do %>
        <%= image_tag("GingerbreadHouse.png")%>
        <h1 class="hidden-on-mobile">
          Ginger Bread House Contest
        </h1>
      <% end %>
      <%= turbo_frame_tag("content", class: "content") do %>
        <% if flash[:error].present? %>
          <div class="error-text-content">
            <span>
              <%= flash[:error] %>
            </span>
          </div>
        <% end %>
        <% if flash[:notice].present? %>
          <div class="notice-text-content">
            <span>
              <%= flash[:notice] %>
            </span>
          </div>
        <% end %>
        <%= yield %>
      <% end %>
    </div>
    <div>
      <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
      </div>
    </div>
    <footer>
      <a href="https://www.freepik.com/vectors/background">Background vector created by kjpargeter - www.freepik.com</a>
    </footer>
  </body>
</html>
